.ks{
    background-color: red;
}
.alia{
    background-color: yellow;
}
.sk{
    background-color: green;
}
.pc{
    background-color: aqua;
}
.vs{
    background-color: blue;
}
#nivas{
    background-color: gold;
}